<a href="https://colab.research.google.com/github/valeria-edulabs/ai-experts/blob/main/meeting12/pandas_EDA_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import seaborn as sns

sns.set(rc={'figure.figsize':(11.7,8.27)})

In [ ]:
from matplotlib import rcParams

# figure size in inches
rcParams['figure.figsize'] = 11.7,8.27

## Loading data + Basic Pandas types
120 years of Olympic history: athletes and results
basic bio data on athletes and medal results from Athens 1896 to Rio 2016
https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/edulabs-public-datasets/athlete_events.zip')

## Other options to create series / dataframe

In [ ]:
data = {
    'name': ['Sivan', 'Moshe', 'Dina'],
    'math': [76, 98, 99],
    'english': [89, 79, 100]
}

In [ ]:
test_df = pd.DataFrame(data)

In [ ]:
test_df

In [ ]:
series = pd.Series([1, 13, 14, 23], dtype=int, name='grades')

In [ ]:
test_df['new_grades'] = series

## Working with data types

In [ ]:
df.info()

### Numerical datatypes

In [ ]:
df['Age'].astype(np.int8)

In [ ]:
df[['Age']].info()

### Pandas Nullable integer type

In [ ]:
df[['Age']].astype('Int8').info()

### Load data with predefined datatypes

In [ ]:
dtypes = {}

## Categories

In [ ]:
df['Games'].unique()

In [ ]:
df['Season'].unique()

In [ ]:
df['Season'].astype('category')

## Rename Columns and Indices

In [ ]:
# df.rename(columns={'City':'city'})
# df.rename({0: '000'})

In [ ]:
df.columns

In [ ]:
{col: col.lower() for col in df.columns}

In [ ]:
df.rename(columns={col: col.lower() for col in df.columns})

In [ ]:
df.rename({0: '000', 1:'111'})

## Aggregations

count

sum

unique

nunique

value_counts(normalize)

In [ ]:
df['Age'].mean()

In [ ]:
df[['Height', 'Weight']].agg(['min', 'max']).transpose()

In [ ]:
df[['Height', 'Weight']].mean()

In [ ]:
df[(df['Age'] < 16) & (df['NOC'] == 'USA')].count()

In [ ]:
df[(df['Age'] < 16) & (df['NOC'] == 'USA')]['ID'].count()

In [ ]:
athlets_ids = df[(df['Age'] < 16) & (df['NOC'] == 'USA')]['ID'].unique()

In [ ]:
athlets_ids

In [ ]:
len(athlets_ids)

In [ ]:
athlets_ids.describe()

In [ ]:
pd.Series(athlets_ids).describe()

In [ ]:
df[(df['Age'] < 16) & (df['NOC'] == 'USA')]['ID'].nunique()

In [ ]:
df[(df['Age'] < 16) & (df['NOC'] == 'USA')]['City'].unique()

In [ ]:
df[df['City'] == 'Lake Placid']

In [ ]:
df[(df['Age'] < 16) & (df['NOC'] == 'USA')]['City'].nunique()

In [ ]:
df[(df['Age'] < 16) & (df['NOC'] == 'USA')].nunique()

In [ ]:
df.City.value_counts()

In [ ]:
df.City.value_counts(normalize=True)

In [ ]:
df['ID'].value_counts()

In [ ]:
df['ID'].value_counts(normalize=True)

In [ ]:
df['City'].value_counts(normalize=True)

In [ ]:
df['Sex'].value_counts(normalize=True)

In [ ]:
df[df['ID'] == 106296]

## query() method

In [ ]:
# df[(df['Age'] > 30) & (df['Weight']<80)]
#df.query('Age > 30 and Weight < 80')

# col name with space - use backticks
df1 = df.rename(columns={'Weight': 'Athlete weight'})
df1
df1.query('`Athlete weight` > 90')

# variables - use @
weight = 90
df1.query('`Athlete weight` > @weight')

## apply()

In [ ]:
df1 = df[:10][['Name', 'Event', 'Medal']]

In [ ]:
df1

In [ ]:
df['Age'].apply(lambda x: 'child' if x<=16 else 'old')

In [ ]:
df1.apply(lambda col: col.str.lower()) #default axis = 0, a.k.a working on columns

In [ ]:
df1.apply(lambda col: col.name + ": " + col.str.lower()) #default axis = 0, a.k.a working on columns

In [ ]:
name = "Valeria"
medal = "Gold"
name + " won a " +medal +" medal"

In [ ]:
f"{name} won a {medal} medal {medal =='Gold'}"

In [ ]:
df1['new_col'] = df1.apply(
    lambda row: f"Athlete {row['Name']} won {row['Medal']}" if row['Medal'] != 'No medal' else f"Athlete {row['Name']} didn't win any medal",
    axis=1) # working on rows

In [ ]:
df1

In [ ]:
def cut_by_age(age):
  if age <=16:
    return 'child'
  elif age <= 25:
    return 'adult'
  else:
    return 'old'

In [ ]:
df[['Age']].applymap(cut_by_age)

In [ ]:
df[['Age']].applymap(lambda age: 'child' if age <=16 else 'old')

In [ ]:
df1.loc[0]['Medal']

In [ ]:
# df = athlete_events[:10]
# df
# df.apply(lambda row: row.str.lower()) # will raise an error
# fix here
df.apply(lambda col: col.str.lower() if col.dtype == 'O' else col)

## Cut

In [ ]:
pd.cut(df['Age'], bins=3)

In [ ]:
pd.cut(df['Age'], bins=[0, 16, 25, 50, 97])

## Sort

In [ ]:
# sort_values vs sort_index
# df.sort_values(ascending=False)
# df.sort_values(['City', 'Sport'])

In [ ]:
df.sort_values(['Age', 'Sex'])

In [ ]:
df.sort_values('Age', ascending=False)

In [ ]:
df.dropna(subset=['Height']).sort_values(['Age', 'Height'], ascending=False)

In [ ]:
df.set_index('Name').sort_index()

## Handling nans

In [ ]:
df.info()

In [ ]:
df['Age'].isna()

In [ ]:
df['Age'].isna().any()

In [ ]:
df['Age'].isna().all()

In [ ]:
grades = [100, 45, 34, 79]

In [ ]:
all([g<55 for g in grades])

In [ ]:
map(lambda g: g<55, grades)

In [ ]:
all(map(lambda g: g<55, grades))

In [ ]:
df['Age'].isna()

In [ ]:
df['Age'].isna().sum()

In [ ]:
df.isna()

In [ ]:
len(df.dropna(subset=['Weight', 'Height', 'Age']))

In [ ]:
df.fillna({'Medal': 'No medal', 'Weight': df['Weight'].mean()})

In [ ]:
df

### Aggregation calculations don't take nans in account

In [ ]:
df['Height'].mean()

### Filling Nans

In [ ]:
df.fillna({'Height': df['Height'].mean(), 'Weight': df['Weight'].mean()}, inplace=True)

In [ ]:
df['Height'] = df['Height'].fillna(df['Height'].mean())

### Dropping Nans

In [ ]:
len(df)

In [ ]:
df.isna()

In [ ]:
len(df.dropna())

In [ ]:
len(df.dropna(subset=['Age']))

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum()

Example: dropping Nans only in columns with more than 50000 nans

In [ ]:
df1.isna().sum()

In [ ]:
df1.isna().sum()[df1.isna().sum() > 50000].index

In [ ]:
df['Name'].unique()

In [ ]:
cols_with_nans = df1.isna().sum()[df1.isna().sum() > 50000].index

In [ ]:
df1.dropna(subset=cols_with_nans)

## Handling duplicates

In [ ]:
df.duplicated()

In [ ]:
df[df.duplicated(keep=False)]

In [ ]:
df.drop_duplicates()

In [ ]:
mask = df.duplicated(subset=['Year', 'Season', 'Event'], keep=False)

In [ ]:
df[mask]

In [ ]:
df[df.duplicated(subset=['ID', 'Year', 'Season', 'Event'], keep=False)]

In [ ]:
# df.duplicated()
# df[df.duplicated()]
# df.duplicated().sum()
# print(f"before drop: {len(athlete_events)}")
# df_new = df.drop_duplicates()
# df.duplicated(subset=['ID']).any()
# df.duplicated(subset=['ID']).sum()
# df[df.duplicated(subset=['ID', 'Sport'])]
# df[df.duplicated(subset=['Name', 'ID', 'Event', 'Year'])]

## Group by

In [ ]:
# group by single column
grouped =df[['ID', 'Medal']].groupby('Medal')
print(f"Type: {type(grouped)}\nObj: {grouped}")

In [ ]:
grouped.count()

In [ ]:
df[['ID', 'Medal']].groupby('Medal').count()

In [ ]:
df.groupby('Medal').count()

In [ ]:
a = df[['Sex','Height', 'Weight', 'Age']].groupby('Sex').mean()

In [ ]:
a

In [ ]:
a.loc['F', 'Weight']

In [ ]:
df[['Sex', 'Height', 'Weight', 'Age']].groupby('Sex').min()

Question: what will this display?

In [ ]:
df.groupby(['Year']).Sport.nunique()

In [ ]:
df.groupby(['Year']).nunique()[['Sport']]

In [ ]:
df[['Year', 'Sport']].groupby(['Year']).nunique()

### Applying multiple functions at once

In [ ]:
def my_func(x):
    print(type(x))
    return x.nunique()

In [ ]:
temp = df[['Sex', 'Height', 'Weight', 'Age']].groupby('Sex').agg([np.mean, 'max'])
temp

In [ ]:
temp['Height']['mean']

In [ ]:
df.groupby(['Year'])['Weight'].agg([np.sum, np.mean, np.std, np.min, np.max, 'max'])

In [ ]:
df.groupby(['Year'])['Name'].agg(['min', lambda x: len(x.unique()), 'count'])

### Group by: Applying different functions to DataFrame columns

In [ ]:
df.reset_index(inplace=True)

In [ ]:
grouped = df[['Sex', 'Name', 'Weight', 'Age']].groupby('Sex')
grouped.agg({"Age": np.mean, 'Name': pd.Series.nunique, 'Weight': np.max})

## Merge and concat

In [ ]:
fruits = pd.read_csv("https://storage.googleapis.com/intel-ai/fruits.csv")
vegetables = pd.read_csv("https://storage.googleapis.com/intel-ai/vegetables.csv")

In [ ]:
fruits

In [ ]:
vegetables

### Concat
Concatenate pandas objects along a particular axis.

E.g: Create one huge dataframe holding data from all the sensors

In [ ]:
pd.concat([fruits, vegetables], axis=0)

In [ ]:
pd.concat([fruits, vegetables], axis=1)

### Merge
(Merge DataFrame or named Series objects with a database-style join)

Merge dataframes w.r.t columns(s)

In [ ]:
# Sample data with null values
movies = pd.DataFrame({
    'title': ['The Shawshank Redemption', 'Pulp Fiction', 'The Dark Knight', 'Forrest Gump', 'Inception'],
    'year': [1994, 1994, 2008, 1994, 2010]
})

actors = pd.DataFrame({
    'actor_name': ['Tim Robbins', 'Morgan Freeman', 'John Travolta', 'Christian Bale', np.nan],  # Null actor
    'title': ['The Shawshank Redemption', 'The Shawshank Redemption', 'Pulp Fiction', 'The Dark Knight', 'The Godfather']  # Movie not in `movies`
})

In [ ]:
movies

In [ ]:
actors

In [ ]:
# Example




# Various types of joins
inner_join = pd.merge(movies, actors, on='title', how='inner')
left_join = pd.merge(movies, actors, on='title', how='left')
right_join = pd.merge(movies, actors, on='title', how='right')
outer_join = pd.merge(movies, actors, on='title', how='outer')

print("Inner Join:")
print(inner_join)

print("\nLeft Join:")
print(left_join)

print("\nRight Join:")
print(right_join)

print("\nOuter Join:")
print(outer_join)

## Working with texts

In [ ]:
df['Name']

In [ ]:
# df['Name'].lower() - will not work

In [ ]:
df['Name'].str

In [ ]:
df['Name'].str.lower()

In [ ]:
df[['Name', 'Event']].apply(lambda col: col.str.lower(), axis=1)

In [ ]:
df['Name'].str.contains('r')

In [ ]:
df['Name'].str.split(" ")

In [ ]:
df['Name'].str.split(" ").str.get(0).str.lower()

In [ ]:
df['Name'].str.split(" ").str.get(1).str.lower()

## Working with dates

In [ ]:
aapl = pd.read_csv("https://storage.googleapis.com/edulabs-public-datasets/aapl.csv")

In [ ]:
aapl

In [ ]:
aapl.info()

In [ ]:
pd.to_datetime(aapl['Date'], dayfirst=False)

In [ ]:
aapl['Date'] = pd.to_datetime(aapl['Date'], dayfirst=False)

In [ ]:
aapl[aapl['Date'] > '2025-01-02']

In [ ]:
aapl['Date'].dt.day_name()

In [ ]:
aapl = pd.read_csv(aapl, index_col='Date', parse_dates=['Date'], dayfirst=False)

In [ ]:
aapl.index

In [ ]:
aapl.loc['2020-03':'2020-5']

### dt propery

In [ ]:
aapl[aapl['Date'].dt.day_name() == 'Friday']

In [ ]:
aapl.reset_index()['Date'].dt.weekday