<a href="https://colab.research.google.com/github/valeria-edulabs/ai-experts/blob/main/meeting12/pandas_olympics_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

Load Olympic history dataset (don't forget to upload athlete_events.csv to Colab first)
The file can be downloaded from Kaggle:
https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

or from the url provided

In [ ]:
url = 'https://storage.googleapis.com/edulabs-public-datasets/athlete_events.zip'

**--- 1 ---**

Load the dataset using optional argument dtypes and try reducing the amount of memory your dataset consumes in the memory as much as possible

Hint:
- use smalles numeric types possible
- use categorical types
- remove redundant columns

**--- 2 ---**

Update original dataframe - add boolean "Is_summer" column based on "season" column and set the values accordingly

--- 3 ---

How many NaN and no-NaN values in Height column?

--- 7 ---

Create a dataframe that displays max and min values for the following columns: weight, height, age

**--- 8 ---**

Filter athlete_events dataframe - display rows of women that participated Winter Olympic games between 1996 and 2002.
How many rows are there?

**--- 9 ---**

Display data for Israeli teams only.
How many rows are there?

**--- 10 ---**

How many Israeli athletes participated ever in Olympic games?

Does the number you received differ from the previous one? Why?

--- 11 ---

Create a dataframe with data about  how many Israeli athlets participated in Olympic games per year per season.

--- 12 ---

Display names of israeli athlets and amount of Olympic games they participated in descending (from athlets that participated in most games to less games)

Display a name of Israeli athlete that participated in most olympic games

--- 13 ---

Create a dataframe that displays how many athlets participated per olympic games per country

--- 14 ---

Create a dataframe that presents how many medals each country earned per Games per medal type

--- 15 ---

Using the dataframe you created, find out which country won most Gold medals in 2016 Olympic games

--- 16 ---

Create a dataframe that presents how many medals per medal type every country earned during all the Olympic games in history